h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 1px black;
}
body {
    background-color: bisque;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
cursor:url("http://www.rw-designer.com/cursor-extern.php?id=100251";)